.ano-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: baseline;
}

.header-short ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-short ul li {
    width: 110px;
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
}

.login-btn {
    background-color: #FFE7B1;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 5px;
    width: 90%;
}

.repair-btn,
.signup-btn {
    background-color: #FFC542;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
    width: 90%;
}