<section class="footer">
    <div class="container">
        <div class="text-center">
            <div class="socail">
                <button><img src="../../assets/images/footer/Instagram.svg" alt=""></button>
                <button><img src="../../assets/images/footer/Dribbble.svg" alt=""></button>
                <button><img src="../../assets/images/footer/Twitter.svg" alt=""></button>
                <button><img src="../../assets/images/footer/Youtube.svg" alt=""></button>
            </div>
            <div class="footer-title">
                <div class="nav-bar">
                    <ul>
                        <li (click)="onabout()">About Us</li>
                        <li>Pricing</li>
                        <li (click)="ontrack()">Track Order</li>
                        <li>Help</li>
                        <li (click)="onContact()">Contact Us</li>
                        <li (click)="onpolicy()">Privacy Policy</li>
                    </ul>
                </div>
            </div>
            <hr class="line">
            <div class="subscribe">
                <p>© 2021 ANO Technology. All rights reserved</p>
            </div>
        </div>
    </div>
</section>