<section class="footer">
    <div class="container">
        <div class="text-center">
            <div class="socail">
                <img src="../../assets/images/footer/Instagram.svg" alt="">
                <img src="../../assets/images/footer/Dribbble.svg" alt="">
                <img src="../../assets/images/footer/Twitter.svg" alt="">
                <img src="../../assets/images/footer/Youtube.svg" alt="">
            </div>
            <div class="footer-title">
                <div class="nav-bar">
                    <ul>
                        <li (click)="onabout()">About Us</li>
                        <li>Pricing</li>
                        <li (click)="ontrack()">Track Order</li>
                        <li>Help</li>
                        <li (click)="onpolicy()">Privacy Policy</li>
                    </ul>
                </div>
            </div>
            <hr class="line">
            <div class="subscribe">
                <p>© 2021 ANO Technology. All rights reserved</p>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="footer-title">
            <div class="nav-bar">
                <ul>
                    <li (click)="onabout()">About Us</li>
                    <li>Pricing</li>
                    <li>Track Order</li>
                    <li>Help</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="subscribe">
                <input type="text" name="sub" id="sub" placeholder="Your email address">
                <img src="../../assets/images/footer/send.svg" alt="">
            </div>
        </div>
        <hr class="line">
        <div class="footer-bottom">
            <p>© 2021 ANO Technology. All rights reserved</p>
            <div class="socail">
                <img src="../../assets/images/footer/Instagram.svg" alt="">
                <img src="../../assets/images/footer/Dribbble.svg" alt="">
                <img src="../../assets/images/footer/Twitter.svg" alt="">
                <img src="../../assets/images/footer/Youtube.svg" alt="">
            </div>
        </div>
    </div> -->
</section>