<section class="all-services">
    <div class="container">
        <div class="my-service">
            <div class="title-filter">
                <div>
                    <h2>My Services & Reviews</h2>
                </div>
                <div class="filter-opt">
                    <p>2 items listed</p>
                    <select name="filter" id="short-filter">
                        <option value="sort">Sort</option>
                        <option value="sort">Sort</option>
                        <option value="sort">Sort</option>
                    </select>
                    <select name="filter" id="short-filter">
                        <option value="sort">Filter</option>
                        <option value="sort">Sort</option>
                        <option value="sort">Sort</option>
                    </select>
                </div>
            </div>
            <hr class="title-filter-hr">
        </div>
        <div class="all-service-display">
            <div class="order-id-date">
                <h2>ID: #65876909465</h2>
                <h2>Created on: March, 01, 21</h2>
            </div>
            <div class="shop-service">
                <div class="shop-deti">
                    <img src="../../../assets/images/checkout/shopimg.png" alt="">
                    <h3>Shop Img</h3>
                    <p>total</p>
                    <h2>$ 65.00</h2>
                </div>
                <div class="shop-ser">
                    <div class="shop-ser-box">
                        <div class="shop-ser-box-img">
                            <img src="../../../assets/images/checkout/image 9.png" alt="">
                        </div>
                        <div class="shop-ser-box-det">
                            <h2>$ 65.00</h2>
                            <p>Screen Replacement</p>
                            <h3>IPhone 11 Pro</h3>
                        </div>
                    </div>
                </div>
                <div class="shop-ser-box">
                    <div class="shop-ser-box-img">
                        <img src="../../../assets/images/checkout/image 9.png" alt="">
                    </div>
                    <div class="shop-ser-box-det">
                        <h2>$ 65.00</h2>
                        <p>Screen Replacement</p>
                        <h3>IPhone 11 Pro</h3>
                    </div>
                </div>
                <div class="shop-ser-box">
                    <div class="shop-ser-box-img">
                        <img src="../../../assets/images/checkout/image 9.png" alt="">
                    </div>
                    <div class="shop-ser-box-det">
                        <h2>$ 65.00</h2>
                        <p>Screen Replacement</p>
                        <h3>IPhone 11 Pro</h3>
                    </div>
                </div>
            </div>
            <div class="review-part">
                <p>Delivered on Marech, 12</p>
                <div class="review-star-view">
                    <div class="subm-whwn-no-star">
                        <img src="../../../assets/images/shop/stars.svg" alt="">
                    </div>
                    <button>View Details > </button>
                </div>
            </div>
            <hr class="end-hr">
        </div>
        <div class="all-service-display">
            <div class="order-id-date">
                <h2>ID: #65876909465</h2>
                <h2>Created on: March, 01, 21</h2>
            </div>
            <div class="shop-service">
                <div class="shop-deti">
                    <img src="../../../assets/images/checkout/shopimg.png" alt="">
                    <h3>Shop Img</h3>
                    <p>total</p>
                    <h2>$ 65.00</h2>
                </div>
                <div class="shop-ser">
                    <div class="shop-ser-box">
                        <div class="shop-ser-box-img">
                            <img src="../../../assets/images/checkout/image 9.png" alt="">
                        </div>
                        <div class="shop-ser-box-det">
                            <h2>$ 65.00</h2>
                            <p>Screen Replacement</p>
                            <h3>IPhone 11 Pro</h3>
                        </div>
                    </div>
                </div>
                <div class="shop-ser-box">
                    <div class="shop-ser-box-img">
                        <img src="../../../assets/images/checkout/image 9.png" alt="">
                    </div>
                    <div class="shop-ser-box-det">
                        <h2>$ 65.00</h2>
                        <p>Screen Replacement</p>
                        <h3>IPhone 11 Pro</h3>
                    </div>
                </div>
                <div class="shop-ser-box">
                    <div class="shop-ser-box-img">
                        <img src="../../../assets/images/checkout/image 9.png" alt="">
                    </div>
                    <div class="shop-ser-box-det">
                        <h2>$ 65.00</h2>
                        <p>Screen Replacement</p>
                        <h3>IPhone 11 Pro</h3>
                    </div>
                </div>
            </div>
            <div class="review-part">
                <p>Delivered on Marech, 12</p>
                <div class="review-star-view">
                    <div class="subm-whwn-no-star">
                        <img src="../../../assets/images/shop/no-star.svg" alt="">
                        <button>Submit</button>
                    </div>
                    <button>View Details > </button>
                </div>
            </div>
            <hr class="end-hr">
        </div>
    </div>
</section>