<section class="profile">
    <div class="container">
        <div class="user-profile">
            <div class="user-profile-img">
                <img src="../../assets/images/shop/user-profile.png" alt="">
            </div>
            <div class="user-profile-detail">
                <div class="profile-detail">
                    <input type="text" name="user-name" id="user-name" placeholder="Enter new Name">
                </div>
                <p>(629) 555-0129</p>
            </div>
        </div>
        <div class="profile-save">
            <button class="cancel-btn">Cancel</button>
            <button class="save-btn">Save</button>
        </div>
    </div>
</section>