<section class="about-ano">
    <div class="about-banner container">
        <img class="img-fluid" src="../../assets/images/about/ano banner.svg" alt="">
    </div>
    <div class="aboutus container">
        <div class="aboutus-title">
            <div class="backdrop fire">
                <p class="text fire">About Us</p>
                <div class="fire"></div>
            </div>
        </div>
        <div class="about-para">
            <p>We serve local clients, and ANO specializes in its offerings with no exceptions, ensuring that all of the needs are met by experts. We are now able to deliver our excellent services widely due to our tremendous investments in technicians,
                facilities, and processes, and as a result will undoubtedly provide you with the very best experience.</p>
            <p>ANO is fully loaded with certified and genuine phone/laptop components. Our team of professionally qualified and security-cleared technicians uses only the most up-to-date equipment and devices. Every one of our customers benefits from our
                experience, competitive pricing, quick turnover, and masterful operation, all while gaining all-encompassing skills in this unique area. We have the most up-to-date exclusive supplies, allowing us to diagnose and fix the devices to the
                core. You will notice the focus in our work as well as the talent in our hands.</p>
            <p>ANO was established with the aim of offering high-quality and trustworthy phone and laptop repair facilities in Manchester. Since our company has grown steadily, you should be pleased any time you shop with us because we have excellent customer
                service.
            </p>
        </div>
    </div>
    <div class="vision container">
        <div class="aboutus-title">
            <div class="backdrop fire">
                <p class="text fire">Our Vision</p>
                <div class="fire"></div>
            </div>
        </div>
        <div class="about-para">
            <p>We strive to repair all flaws in your smartphones and tablets. Our vision is to offer top-of-the-line premium service and goods to all of our respected customers. We collaborate together with our vendors and manufacturers to ensure that we
                can deliver the highest level of efficiency and loyalty to all of our customers.</p>
        </div>
    </div>
    <div class="leader container">
        <div class="leader-title">
            <div class="backdrop fire">
                <p class="text fire">Our Leadership</p>
                <div class="fire"></div>
            </div>
        </div>
        <div class="leader-pra">
            <p>Convallis turpis erat tempus, viverra aliquet. Nullam viverra nam auctor sit ipsum malesuada a, duis volutpat.
            </p>
            <div class="row">
                <div class="col-md-3">
                    <div class="leader-info">
                        <div class="leader-img">
                            <img src="../../assets/images/about/leader-img.png" alt="">
                        </div>
                        <div class="leader-name">
                            <h2>Andry Ford</h2>
                            <p>CEO at Whatever</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="leader-info">
                        <div class="leader-img">
                            <img src="../../assets/images/about/leader-img.png" alt="">
                        </div>
                        <div class="leader-name">
                            <h2>Andry Ford</h2>
                            <p>CEO at Whatever</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="leader-info">
                        <div class="leader-img">
                            <img src="../../assets/images/about/leader-img.png" alt="">
                        </div>
                        <div class="leader-name">
                            <h2>Andry Ford</h2>
                            <p>CEO at Whatever</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="leader-info">
                        <div class="leader-img">
                            <img src="../../assets/images/about/leader-img.png" alt="">
                        </div>
                        <div class="leader-name">
                            <h2>Andry Ford</h2>
                            <p>CEO at Whatever</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="access container">
        <div class="access-title">
            <div class="backdrop fire">
                <p class="text fire">Our Accessories</p>
                <div class="fire"></div>
            </div>
            <div class="comingsoon">
                <img class="img-fluid" src="../../assets/images/about/coming.svg" alt="">
            </div>
        </div>
        <div class="access-display">
            <div class="row">
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="display-acc">
                        <img src="../../assets/images/about/Image 4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feedback container">
        <div class="feedback-title">
            <div class="backdrop fire">
                <p class="text fire">Feedback</p>
                <div class="fire"></div>
            </div>
        </div>
        <div class="feedback-para">
            <p>Help us know you better, so that we can serve you better.</p>
            <p>Information provided herein will be used solely for research purposes and will not be sold to any third parties.
            </p>
        </div>
        <form [formGroup]="feedback">
            <div class="feedback-input">
                <textarea name="feedback" id="feedback" formControlName="body" cols="10" rows="2" placeholder="Your Feedback..."></textarea>
                <div class="text-dangerr" *ngIf="bodyempty">
                    Enter your Msg
                </div>
                <button (click)="Submit()">
                <!-- <img src="../../assets/images/checkout/send.svg" alt=""> -->
                Submit
            </button>
            </div>
        </form>
    </div>
</section>