<section class="select-address">
    <div class="container">
        <div class="sec-add" *ngFor="let a of Address">
            <h2 for="address1">{{a.addressLine}} {{a.city}} {{a.state}} {{a.zipCode}} </h2>
            <div class="address-radio">
                <input type="radio" id="address1" value="a.id" (change)="makedefault(a.id)" [checked]="a.isDefault" name="address" value="address1">
            </div>
        </div>



        <!-- <div class="sec-add">
            <h2 for="address2">202 Wayne St, Durand, MI, 48429</h2>
            <div class="address-radio">
                <input type="radio" id="address2" name="address" value="address2">
            </div>
        </div>
        <div class="sec-add">
            <h2 for="address3">202 Wayne St, Durand, MI, 48429</h2>
            <div class="address-radio">
                <input type="radio" id="address3" name="address" value="address3">
            </div>
        </div> -->
        <div class="add-addr">
            <button (click)="Addadress()">Add New Address</button>
        </div>
        <div class="profile-save">
            <button class="cancel-btn" (click)="Cancel()">Cancel</button>
            <button class="save-btn" (click)="Save()">Save</button>
        </div>
    </div>
</section>