<section class="select-address">
    <div class="container">
        <div class="sec-add">
            <h2 for="address1">202 Wayne St, Durand, MI, 48429</h2>
            <div class="address-radio">
                <input type="radio" id="address1" name="address" value="address1">
            </div>
        </div>
        <div class="sec-add">
            <h2 for="address2">202 Wayne St, Durand, MI, 48429</h2>
            <div class="address-radio">
                <input type="radio" id="address2" name="address" value="address2">
            </div>
        </div>
        <div class="sec-add">
            <h2 for="address3">202 Wayne St, Durand, MI, 48429</h2>
            <div class="address-radio">
                <input type="radio" id="address3" name="address" value="address3">
            </div>
        </div>
        <div class="add-addr">
            <button>Add New Address</button>
        </div>
        <div class="profile-save">
            <button class="cancle-btn">Cancle</button>
            <button class="save-btn">Save</button>
        </div>
    </div>
</section>