<section class="map-booking">
    <div class="filter">
        <div>
            <input type="text" name="mapshop" id="shop" placeholder="Search Device, Brand, Model, etc">
            <button><img src="../../assets/images/Sliders.svg" alt=""></button>
            <button><img src="../../assets/images/Bug.svg" alt=""></button>
        </div>
        <div>
            <input type="text" name="" id="" placeholder="Search Location">
            <img src="../../assets/images/search.svg" alt="">
        </div>
    </div>
</section>