<section class="ano-header container">
    <div>
        <img src="../../assets/images/logo.svg" alt="">
    </div>
    <div class="header-short">
        <nav>
            <ul>
                <li>Home</li>
                <li>Contact Us</li>
                <li>About Us</li>
                <li><button class="login-btn">Log In</button></li>
                <li><button class="signup-btn">Sign Up</button></li>
                <li><button class="repair-btn">Book Repair</button></li>
            </ul>
        </nav>
    </div>
</section>