.ano-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: baseline;
    z-index: 99999;
}

.header-short ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-short ul li {
    /* width: 110px; */
    font-family: "Poppins-SemiBold";
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.header-short ul li button{
    width: 110px;
    margin-left: -10px;
}
.login-btn {
    background-color: #ffe7b1;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 5px;
    width: 90%;
}

.repair-btn,
.signup-btn {
    background-color: #ffc542;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 5px;
    width: 90%;
}