<div class="signup-module">
    <div class="close-side">
        <h2>Sign Up</h2>
        <button><img (click)="close()" src="../../../assets/images/close.svg" alt=""></button>
    </div>
    <form [formGroup]="signUpForm">
        <!--Sign up Name-->
        <div *ngIf="signUpNameFlag">
            <div class="signup-form">
                <p>User Details</p>
                <div class="signup-inp">
                    <input type="text" name="name" id="name" formControlName="name" placeholder="First Name" [ngClass]="{'is-invalid':(signUpForm.get('name').invalid)&&(formSubmitted ||nameSignUpFilled )}" required>
                    <div class="text-dangerr" *ngIf="(signUpForm.get('name').invalid)&&(formSubmitted ||nameSignUpFilled )">
                        Name is required.
                    </div>
                    <input type="text" name="last-name" id="last-name" placeholder="Last Name">
                    <input type="email" name="email" id="email" formControlName="email" placeholder="Email" (change)="checkEmail()" [ngClass]="{'is-invalid':(signUpForm.get('email').invalid)&&(formSubmitted ||nameSignUpFilled )}" required>
                    <div class="text-dangerr" *ngIf="(signUpForm.get('email').invalid)&&(formSubmitted ||nameSignUpFilled )">
                        Email is required.
                    </div>
                    <div class="text-dangerr" *ngIf="emailExist">
                        Email id is already registered.
                    </div>
                    <div class="text-dangerr" *ngIf="signUpForm.get('email').errors?.pattern">
                        Enter valid email.
                    </div>
                    <input type="password" name="password" id="password" formControlName="password" placeholder="Password" [ngClass]="{'is-invalid':(signUpForm.get('password').invalid)&&(formSubmitted ||nameSignUpFilled )}" required>
                    <div class="text-dangerr" *ngIf="(signUpForm.get('password').invalid)&&(formSubmitted ||nameSignUpFilled)">
                        Password is required.
                    </div>
                </div>
                <div class="signup-det">
                    <h2>Already have account?<span (click)="openLogIn()">Login</span></h2>
                </div>
                <button class="next" type="submit" (click)="signUpNameComplete()">Next</button>
            </div>
        </div>

        <!--Sign up Mobile-->
        <div *ngIf="signUpMobileFlag">
            <div class="signup-form">
                <p>Enter Phone</p>
                <div class="signup-inp">
                    <input type="text" name="txtInput" id="bar" formControlName="mobileNumber" placeholder="Example: (xxx)-xxx-xxxx" [ngClass]="{'is-invalid':(signUpForm.get('mobileNumber').invalid)&&(formSubmitted)}" required onkeydown="javascript:backspacerDOWN(this,event);"
                        onkeyup="javascript:backspacerUP(this,event);">

                    <div class="text-dangerr" *ngIf="(signUpForm.get('mobileNumber').invalid)&&(formSubmitted )">
                        Mobile number is required.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="previous" type="submit" (click)="signUpMobilePrevious()"> <span></span>
                        Previous</button>
                </div>

                <div class="col-md-6">
                    <button class="next" type="submit" (click)="signUpMobileComplete()">Get Code</button>
                </div>
            </div>
        </div>

        <!--Sign up conformation-->
        <div *ngIf="signUpConformationFlag">
            <div class="signup-form">
                <p>Confirmation Code</p>
                <div class="signup-inp">
                    <input type="text" name="otp" maxlength="4" id="otp" (change)="signUpConfirmationComplete($event.target.value)" placeholder="Enter Confirmation Code">
                </div>
                <div class="text-dangerr" *ngIf="emptyOtpFlag">
                    Enter your otp
                </div>
                <div class="text-dangerr" *ngIf="validOtpFlag">
                    Enter valid otp
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <button class="previous" type="submit" (click)="signUpMobilePreviouss()"> <span></span>
                        Previous</button>
                </div>
                <div class="col-md-6">
                    <button class="next" type="submit" (click)="signUpConfirmationComplete($event.target.value)">Confirm
                        Code</button>
                </div>
            </div>
            <div class="signup-det">
                <h2> <span (click)="resend()">Resend</span> Code in <span>00 : {{counter}}</span></h2>
            </div>
        </div>
    </form>

    <form [formGroup]="userAddres">
        <!--Sign up Address-->
        <div *ngIf="signUpEmailFlag">
            <div class="signup-form">
                <p>User Details</p>
                <div class="signup-inp">
                    <textarea name="address" id="address" cols="10" rows="2" formControlName="addressLine" placeholder="Address"></textarea>
                    <input type="text" name="city" id="city" formControlName="city" placeholder="City">
                    <input type="text" name="state" id="state" formControlName="state" placeholder="State">
                    <input type="number" name="zip" id="zip" formControlName="zipCode" placeholder="Zip Code">
                </div>
            </div>
            <button class="next" type="submit" (click)="signUpEmailComplete()">Sign Up</button>
        </div>
    </form>
</div>