<section class="cart">
    <div class="bg-map">
        <!-- <agm-map [latitude]="21.175265" [longitude]="72.831855" [zoom]="17">
            <agm-marker [latitude]="21.175265" [longitude]="72.831855"></agm-marker> -->

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12" [styles]="styles">
            <agm-marker *ngFor="let s of shop" [latitude]="s.latitude" [longitude]="s.longitude" [iconUrl]="ourmark.icon"></agm-marker>
        </agm-map>
    </div>
    <div class="container">
        <div class="shop-det">
            <div class="shop-dettt">
                <h2>{{shop[0].shopName}}</h2>
                <div class="cont">
                    <ngx-star-rating class="rating" [(ngModel)]="rating3" [id]="'rating3'" [disabled]="true">
                    </ngx-star-rating>
                </div>
            </div>
            <div class="detail-name2">
                <div class="dis-f">
                    <img src="../../assets/images/Call.svg" alt="">
                    <p>{{shop[0].mobileNumber}}</p>
                </div>
                <div class="dis-f">
                    <img src="../../assets/images/location.svg" alt="">
                    <p>{{shop[0].addressLine1}} , {{shop[0].addressLine2}}</p>
                </div>
            </div>
        </div>

        <div class="service-added">
            <h3>Services Added</h3>
            <div class="row">
                <div class="col-md-3" *ngFor="let info of displayCartInfo">
                    <div class="add-pro">
                        <div class="add-pro-img">
                            <div id="info.id" class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event,info.id)">
                                <ngx-dropzone-label>
                                    <div class="addd-btnn">
                                        <img src="../../assets/images/checkout/addproduct.svg" alt="">
                                    </div>
                                </ngx-dropzone-label>
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of info.imageFiles" [file]="f" [removable]="true" (removed)="onRemove(f,info.id)">
                                    <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                                </ngx-dropzone-image-preview>
                            </div>
                        </div>
                        <div class="add-pro-dett">
                            <h2>{{info.deviceName}}</h2>
                            <p>{{info.problemName}}</p>
                            <div class="add-pro-price">
                                <p>Expected price : <span>${{info.total_amount}}</span></p>

                                <ng-template #HtmlContent>
                                    <div class="pricing-fact">
                                        <h5>Pricing Factors</h5>
                                        <p>- Base Fee : <span>${{info.price}}</span></p>
                                        <p>- ANO’s Commission Fee : <span>${{info.ANOCommissionFees}}</span></p>
                                        <p>- Repair Shop Commission Fee :<span>${{info.ShopCommissionFees}} </span></p>
                                        <p>- Part Price Based on ANO’s Parts Lists (Price Scale)</p>
                                    </div>
                                </ng-template>
                                <img [tooltip]="HtmlContent" content-type="template" placement="right" theme="light" src="../../assets/images/checkout/outline.svg" alt="">
                            </div>
                            <div class="add-pro-btn">
                                <button (click)="deleteCartProduct(info.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="add-product-service">
                        <button><img class="img-fluid" src="../../assets/images/checkout/addproduct.svg" alt=""
                                (click)="addRepairDevice()">
                            <p>Add More</p>
                        </button>
                        <div class="total-total">
                            <p>Total</p>
                            <h2>${{totalCartAmount}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pic-booking-date">
            <h3>Booking Made Easy</h3>
            <div class="deliver-system">
                <div class="pick-ups">
                    <h4>Device(s) Pick up Slot</h4>
                </div>
                <div class="deliver-cab radio">
                    <input class="deliver-radio" type="radio" id="deliver-cab" name="deliver-system" value="deliver-cab" checked>
                    <label for="deliver-cab" class="radio-label">
                        <div class="selectdate-time">
                            <input type="date" name="date" [(ngModel)]="placeOrder.date"
                                (input)="getTimeAccoedingToDate()" [min]="today" [value]="placeOrder.date">
                            <select class="rig-no" name="time" (change)="setTime($event)" placeholder="select time">
                                <option *ngFor="let time of timeList" [value]=time.id>{{time.startTime}} -
                                    {{time.endTime }}
                                </option>
                            </select>
                            <input type="text" name="pick-off" id="pick-off" placeholder="Pick-up up Address">
                        </div>
                    </label><br>
                </div>


                <div class="deliver-mail radio">
                    <input class="deliver-radio" type="radio" id="deliver-mail" name="deliver-system" value="deliver-mail">
                    <label for="deliver-mail" class="radio-label radio-labell">
                        <div class="mail-product">
                            <img src="../../assets/images/checkout/mail.svg" alt="">
                            <h3>Mail-in Repair</h3>
                        </div>
                        <div class="mail-product">
                            <p>Please drop in your devices </p>
                        </div>
                    </label><br>
                </div>
            </div>


            <div class="deliver-system drop-off-slot">
                <div class="pick-ups">
                    <h4>Device(s) Return Slot</h4>
                </div>
                <div class="deliver-cab radio">
                    <input class="deliver-radio" type="radio" id="drop-off-opt" name="deliver-system" value="drop-off-opt">
                    <label for="drop-off-opt" class="radio-label">
                        <div class="selectdate-time">
                            <input type="date" name="distance" [(ngModel)]="placeOrder.date"
                                (input)="getTimeAccoedingToDate()" [min]="today">
                            <select name="time" (change)="setTime($event)" placeholder="select time">
                                <option>Select Time</option>
                                <option *ngFor="let time of timeList" [value]=time.id>{{time.startTime}} -
                                    {{time.endTime}}
                                </option>
                            </select>
                            <input type="text" name="drop-off" id="drop-off" placeholder="Drop up Address">
                        </div>
                    </label><br>
                </div>
                <div class="deliver-mail radio">
                    <input class="deliver-radio" type="radio" id="pick-up" name="deliver-system" value="pick-up">
                    <label for="pick-up" class="radio-label radio-labell">
                        <div class="mail-product">
                            <img src="../../assets/images/checkout/mail.svg" alt="">
                            <h3>Pick-up Device</h3>
                        </div>
                        <div class="mail-product">
                            <p>I will pick up the device from the store</p>
                        </div>
                    </label><br>
                </div>
            </div>
            <div class="proceed-btn">
                <button (click)="proceed()">Proceed</button>
            </div>
        </div>
    </div>
</section>

<!-- <section class="cart">
    <div class="add-product-display">
        <div class="row">
            <div class="col-md-3" *ngFor="let cart of cartInfo">
                <div class="add-product-box">
                    <div class="add-product-imd">
                        <div *ngIf="!cart.image || imageEditFlag" id="cart.id" class="custom-dropzone"
                            [multiple]="false" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event,cart.id)">
                            <ngx-dropzone-label>
                                <div>
                                    <h2>+</h2>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview [multiple]="false" ngProjectAs="ngx-dropzone-preview"
                                *ngFor="let f of cart.image" [file]="f" [removable]="true" (removed)="onRemove(f)">
                            </ngx-dropzone-image-preview>
                        </div>
                        <div *ngIf="cart.image && !imageEditFlag"><img src="{{cart.image}}"> </div>
                        <div><button (click)="setEditToChangeImage()">Edit</button></div>
                    </div>
                    <div class="add-product-details">
                        <h2>{{cart.brand.brandName}} {{cart.device.modelName}}</h2>
                        <p>Repair Master, Repair, Dec 16, 09:00 AM to 11:00AM</p>
                        <p>Expected Price: {{cart.price}}</p>
                        <button>Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="add-product-service">
                    <button><img src="../../assets/images/add product.svg" alt="" (click)="addRepairDevice()"></button>
                    <p>Add More</p>
                </div>
            </div>
        </div>
    </div>
</section> -->