<div class="select-brand">
    <div class="close-side">
        <h2>Select your address</h2>
        <button><img src="../../../assets/images/close.svg" alt=""></button>
    </div>
    <p>Your Address</p>
    <div>
        <!-- <ng-select name="address">
            <ng-option><p>Mota varachha Surat surat gujarat 394101</p></ng-option>
        </ng-select> -->

        <!-- <div class="text-dangerr" *ngIf="deviceFlag">
            select Device.
        </div> -->
    </div>

    <div class="sub-btn">
        <div class="previous">
            <button>
                < Previous</button>
        </div>
        <div class="next">
            <button>Next</button>
        </div>
    </div>
</div>