<div>
    <form #Repair="ngForm">
        <div class="all-adv-add">
            <div class="select-brand">
                <div class="close-side">
                    <h2>Add Device</h2>
                    <button><img (click)="close()" src="../../../assets/images/close.svg" alt=""></button>
                </div>
                <div class="optionselect">
                    <select class="custom" name="brand" [(ngModel)]="bookRepair.device_id" (change)="getIssueList($event)" placeholder="Select Brand" #device1="ngModel" [ngClass]="{
                'is-invalid':
                device1.invalid &&
                (formSubmitted || device1.touched) 
                }">
                        <option *ngFor="let device of deviceList" [value]="device.id">{{device.full_name}}</option>
                    </select>
                    <div class="text-danger" *ngIf="device1.invalid &&
                (formSubmitted || device1.touched)">
                        Select Device
                    </div>
                </div>
            </div>
            <div class="select-device">
                <div class="optionselect">
                    <select class="custom" name="device" [(ngModel)]="bookRepair.problem_id" placeholder="Select Device" #device1="ngModel" (change)="getExpectedPrice()" [ngClass]="{
                'is-invalid':
                device1.invalid &&
                (formSubmitted || device1.touched)  
                }">
                        <option *ngFor="let issue of issueList" [value]="issue.problem.id">
                            {{issue.problem.problemName}}
                        </option>
                    </select>
                    <div class="text-danger" *ngIf="device1.invalid &&
                (formSubmitted || device1.touched)">
                        Select Problem
                    </div>
                </div>
            </div>
            <div class="price-part">
                <p>Expected Price:<span>{{bookRepair.price}}</span></p>
            </div>
            <div class="add-device-btn">
                <button type="submit" (click)="addDevice()">Add Device</button>
            </div>
        </div>
    </form>
</div>