<section class="track-map">
    <div class="bg-map">
        <agm-map [latitude]="Lat" [longitude]="Lng">
            <agm-marker [latitude]="Lat" [longitude]="Lng"></agm-marker>
        </agm-map>
    </div>
    <div class="shopdetail">
        <div class="booking-detail">
            <div class="booking-shop">
                <div class="booking-shop-img">
                    <img src="../../assets/images/checkout/shopimg.png" alt="">
                    <h2>Shop name</h2>
                </div>
                <div class="booking-sho-price">
                    <p>Total</p>
                    <h2>$ 65.22</h2>
                </div>
            </div>
            <div class="booking-device">
                <div class="booking-device-box">
                    <p>Device #: <span>3</span></p>
                    <p>Category: <span>Repair</span></p>
                    <p>Services: <span>Repair</span></p>
                    <div class="booking-date">
                        <p>Expected Date</p>
                        <h2>December 21, 2020</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="destroy-system">
            <div class="destroy-system-box">
                <div class="destroy-system-img">
                    <img src="../../assets/images/checkout/image 9.png" alt="">
                </div>
                <div class="destroy-system-det">
                    <h2>iphone 11 Pro</h2>
                    <p>Screen Replacement</p>
                </div>
            </div>
            <div class="destroy-system-box">
                <div class="destroy-system-img">
                    <img src="../../assets/images/checkout/image 9.png" alt="">
                </div>
                <div class="destroy-system-det">
                    <h2>iphone 11 Pro</h2>
                    <p>Screen Replacement</p>
                </div>
            </div>
            <div class="destroy-system-box">
                <div class="destroy-system-img">
                    <img src="../../assets/images/checkout/image 9.png" alt="">
                </div>
                <div class="destroy-system-det">
                    <h2>iphone 11 Pro</h2>
                    <p>Screen Replacement</p>
                </div>
            </div>
        </div>
        <div class="track-view">
            <div class="track-view-box">
                <img src="../../assets/images/tracking/tracking-line.svg" alt="">
                <h3>Report 1</h3>
            </div>
            <div class="track-view-box">
                <img src="../../assets/images/tracking/tracking-line.svg" alt="">
                <h3>Report 2</h3>
            </div>
            <div class="track-view-box">
                <img src="../../assets/images/tracking/tracking-line.svg" alt="">
                <h3>Report 3</h3>
            </div>
            <div class="track-view-address">
                <img src="../../assets/images/tracking/Location.svg" alt="">
                <h3>2715 Ash Dr. San Jose, South Dakota 83475</h3>
            </div>
        </div>
    </div>
</section>