<section class="track-map">
    <div class="bg-map">
        <agm-map [latitude]="Lat" [longitude]="Lng" [zoom]="17" [styles]="styles">
            <agm-marker [latitude]="Lat" [longitude]="Lng"></agm-marker>
        </agm-map>
    </div>
    <div class="shopdetail">
        <div class="booking-detail">
            <div class="booking-shop">
                <div class="booking-shop-img">
                    <img src="{{shopDetail.image}}" alt=" ">
                    <h2>{{shopDetail.shopName}}</h2>
                </div>
                <div class="booking-sho-price ">
                    <p>Total</p>
                    <h2>${{order.TotalAmountToPay}}</h2>
                </div>
            </div>
            <div class="booking-device ">
                <div class="booking-device-box ">
                    <p>Device #: <span>{{totaldevice}}</span></p>
                    <p>Category: <span>Repair</span></p>
                    <p>Services: <span>Repair</span></p>
                    <div class="booking-date ">
                        <p>Expected Date</p>
                        <h2>{{order.repairedDate}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="destroy-system ">
            <div class="destroy-system-box " *ngFor="let d of device">
                <div class="destroy-system-img ">
                    <img src="{{d.image}}" alt=" ">
                </div>
                <div class="destroy-system-det ">
                    <h2>{{d.modelName}}</h2>
                    <p>{{d.problem_name}}</p>
                </div>
            </div>
            <!-- <div class="destroy-system-box ">
                <div class="destroy-system-img ">
                    <img src="../../assets/images/checkout/image 9.png " alt=" ">
                </div>
                <div class="destroy-system-det ">
                    <h2>iphone 11 Pro</h2>
                    <p>Screen Replacement</p>
                </div>
            </div>
            <div class="destroy-system-box ">
                <div class="destroy-system-img ">
                    <img src="../../assets/images/checkout/image 9.png " alt=" ">
                </div>
                <div class="destroy-system-det ">
                    <h2>iphone 11 Pro</h2>
                    <p>Screen Replacement</p>
                </div>
            </div> -->
        </div>
        <div class="track-view ">
            <div class="track-view-box ">
                <img src="../../assets/images/tracking/tracking-line.svg " alt=" ">
                <h3>Report 1</h3>
            </div>
            <div class="track-view-box ">
                <img src="../../assets/images/tracking/tracking-line.svg " alt=" ">
                <h3>Report 2</h3>
            </div>
            <div class="track-view-box ">
                <img src="../../assets/images/tracking/tracking-line.svg " alt=" ">
                <h3>Report 3</h3>
            </div>
            <div class="track-view-address ">
                <img src="../../assets/images/tracking/Location.svg " alt=" ">
                <h3>2715 Ash Dr. San Jose, South Dakota 83475</h3>
            </div>
        </div>
    </div>
</section>