<section class="profile">
    <div class="container">
        <div class="user-profile">
            <div class="user-profile-img">
                <img src="../../assets/images/shop/user-profile.png" alt="">
            </div>
            <div class="user-profile-detail">
                <div class="profile-detail">
                    <h2>Darrell Keward</h2>
                    <button>
                        <img (click)="editAddress()"src="../../assets/images/edit.svg" alt="">
                    </button>
                </div>
                <p>(629) 555-0129</p>
                <p>darrellkeward@gmail.com</p>
                <h6 (click)="Changepsw()">Change Password</h6>

            </div>
        </div>
        <hr class="profile-line">
        <div class="user-add">
            <h3>My Address</h3>
            <hr class="address-line">
            <div class="profile-add">
                <div class="user-loaction">
                    <img src="../../assets/images/tracking/Location.svg" alt="">
                    <p>2715 Ash Dr. San Jose, South Dakota 83475</p>
                </div>
                <button>
                    <img src="../../assets/images/edit-yellow.svg" alt="">
                    <p (click)="checkAddress()">View 8 More</p>
                </button>
            </div>
        </div>
        <div class="service-review">
            <h2>My Services & My Reviews</h2>
            <button (click)="checkOrder()">View all</button>
        </div>
    </div>
</section>