<section>
    <div class="bg-map">
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
    <div class="container">
        <div class="filter">
            <div class="shop-filter ">
                <input type="text" name="mapshop" id="shop" placeholder="Search Device, Brand, Model, etc">
                <div class="shop-come">
                    <div class="shop-box" *ngFor="let store of storeInfo">
                        <div class="shop-ing">
                            <img class="img-fluid" src="../../assets/images/service1.png" alt="">
                        </div>
                        <div class="shop-detail">
                            <div class="detail-name">
                                <h2>{{store.shopName}}</h2>
                                <ngb-rating [rate]="3" color="red"></ngb-rating>
                            </div>
                            <div class="detail-name2">
                                <div class="dis-f">
                                    <img src="../../assets/images/Icon awesome-car.svg" alt="">
                                    <p>{{storeId.distance | number : '1.2-2'}}</p>
                                </div>
                                <div class="dis-f">
                                    <img src="../../assets/images/Call.svg" alt="">
                                    <p>{{store.mobileNumber}}</p>
                                </div>
                            </div>
                            <div class="shop-location">
                                <div class="location">
                                    <img src="../../assets/images/location.svg" alt="">
                                    <p>{{store.addressLine1}} , {{store.addressLine2}}</p>
                                </div>
                                <p>{{store.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-product container">
        <div>
            <h2>Booking Made Easy</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="date" name="distance" [(ngModel)]="placeOrder.date" (input)="getTimeAccoedingToDate()">
            </div>
            <div class="col-md-4">
                <ng-select name="time" (change)="setTime($event)">
                    <ng-option *ngFor="let time of timeList" [value]=time.id>{{time.startTime}} - {{time.endTime}}
                    </ng-option>
                </ng-select>
            </div>
        </div>
        <div class="add-product-display">
            <div class="row">
                <div class="col-md-3" *ngFor="let cart of cartInfo">
                    <div class="add-product-box">
                        <div class="add-product-imd">
                            <!-- <img class="img-fluid" src="../../assets/images/service1.png" alt=""> -->
                            <ngx-dropzone (change)="onSelect($event)">
                                <ngx-dropzone-label>Drop it!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true"
                                    (removed)="onRemove(f)">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>
                        <div class="add-product-details">
                            <h2>{{cart.brand.brandName}} {{cart.device.modelName}}</h2>
                            <p>Repair Master, Repair, Dec 16, 09:00 AM to 11:00AM</p>
                            <p>Expected Price: {{cart.price}}</p>
                            <button>Delete</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="add-product-service">
                        <button><img src="../../assets/images/add product.svg" alt=""
                                (click)="addRepairDevice()"></button>
                        <p>Add More</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <button (click)="procced()">Procced</button>
            </div>
        </div>
    </div>
    <div class="reviews">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="review-circle">
                        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="12" [innerStrokeWidth]="5"
                            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                            [animationDuration]="300">
                        </circle-progress>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="star">
                        <img src="../../assets/images/start5.svg" alt="">
                        <div class="progres-bar">
                            <span style="width: 20%; background-color: black;"></span>
                        </div>

                    </div>
                    <div class="star">
                        <img src="../../assets/images/start4.svg" alt="">
                        <div class="progres-bar">
                            <span style="width: 20%; background-color: black;"></span>
                        </div>

                    </div>
                    <div class="star">
                        <img src="../../assets/images/start3.svg" alt="">
                        <div class="progres-bar">
                            <span style="width: 20%; background-color: black;"></span>
                        </div>
                    </div>
                    <div class="star">
                        <img src="../../assets/images/start2.svg" alt="">
                        <div class="progres-bar">
                            <span style="width: 20%; background-color: black;"></span>
                        </div>
                    </div>
                    <div class="star">
                        <img src="../../assets/images/star1.svg" alt="">
                        <div class="progres-bar">
                            <span style="width: 20%; background-color: black;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-user">
                <div class="review-box">
                    <div class="review-photo">
                        <img src="../../assets/images/review user.png" alt="">
                    </div>
                    <div class="review-detal">
                        <div class="review-name">
                            <h4>Fionn Norris</h4>
                            <p>01/20/2021, 09:16 AM</p>
                        </div>
                        <h3>This is the perfect shade that I found after long time. It's fragrance is Very calming.got
                            it in 168 rs.go for it.perfect shade for medium & dark skin tone.</h3>
                        <div class="review-rating">
                            <!-- <h3>3</h3>
                            <ngb-rating [rate]="3" color="red"></ngb-rating> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-services">
        <div class="container">
            <div class="text-center ser-det">
                <h2>Other Services</h2>
            </div>
            <div class="service-service">
                <div class="row">
                    <div class="col-md-4">
                        <div class="shop-ser-box">
                            <img class="img-fluid" src="../../assets/images/shop-service.png" alt="">
                            <h3>Mobile</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shop-ser-box">
                            <img class="img-fluid" src="../../assets/images/shop-service.png" alt="">
                            <h3>Mobile</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shop-ser-box">
                            <img class="img-fluid" src="../../assets/images/shop-service.png" alt="">
                            <h3>Mobile</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shop-ser-box">
                            <img class="img-fluid" src="../../assets/images/shop-service.png" alt="">
                            <h3>Mobile</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shop-ser-box">
                            <img class="img-fluid" src="../../assets/images/shop-service.png" alt="">
                            <h3>Mobile</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>