.ano-banner {
    background-color: #ffffff;
}

.padding {
    padding: 25px 0 25px 0;
}

h2 {
    font-family: "Poppins-SemiBold";
    font-size: 72px;
    max-width: 610px;
}

.banner-detail p {
    font-size: 15px;
    font-family: "Poppins-regular";
    max-width: 600px;
}

.repair-btn {
    width: 20% !important;
    font-family: 'Poppins-SemiBold';
    color: #000000;
}

.banner-service {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.banner-service::-webkit-scrollbar {
    display: none;
}

.service-box {
    padding: 10px;
}

.service-box img {
    height: 120px;
    width: auto;
    border-radius: 20px;
}

.service-box h2 {
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: 60%;
    color: #ffffff;
}

.extra-detail {
    display: grid;
}

.extra-detail h3 {
    margin-bottom: 0px;
    text-align: center;
    color: #2ec5ce;
    font-family: "Poppins-SemiBold";
    font-weight: bolder;
    font-size: 40px;
}

.extra-detail p {
    text-align: center;
    font-family: "Poppins-regular";
    font-size: 15px;
}

.howitwork,
.whyus {
    width: 100%;
}

.howitwork-title h3,
.whyus-title h3,
.about-title h3,
.count-head h3 {
    font-size: 40px;
    font-family: "Poppins-SemiBold";
    margin-bottom: 30px;
}
.about-title{
    margin-top: 50px;
}
.servicelist{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whyuslist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whyuslist-detailll {
    height: 100px;
}
.service-detail,
.whyus-detail {
    display: grid;
    text-align: center;
}

.service-detail h4 {
    font-size: 24px;
    font-family: "Poppins-Medium";
}

.whyus-detail h4 {
    font-size: 18px;
    font-family: "Poppins-SemiBold";
}

.service-detail p,
.whyus-detail p {
    font-size: 15px;
    font-family: "Poppins-regular";
}

.whyus-detail {
    text-align: left !important;
    margin-right: 10px;
    width: 200px;
}

.service-detail img {
    height: 100%;
    width: 100%;
}

.whyimg {
    display: flex;
    height: 100px;
}

.aboutus {
    margin-top: 50px;
    margin-bottom: 50px;
}

.aboutdetail p {
    font-family: "Poppins-regular";
    font-size: 15px;
}
.aboutdetail span{
    color: #FFC542;
}

.about-img img {
    width: 70%;
    display: flex;
    float: right;
}

.signup-driver {
    background-color: #fffff5 !important;
    padding-top: 10px;
    padding-bottom: 80px;
}
.driver-bg{
    background-repeat: no-repeat !important;
}
.driver-title h3 {
    font-size: 60px;
    font-family: "Poppins-SemiBold";
    margin-bottom: 30px;
}

.driver-title p,
.client-title p,
.service p,
.service h4 {
    font-size: 15px;
    font-family: "Poppins-Regular";
}

.requestform {
    padding-top: 25px;
    width: 100%;
}

.requestform button {
    background-color: #18191f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Poppins-SemiBold';
    width: 120px;
}

.requestform input {
    background-color: #fffff5;
    border: none;
    border-bottom: 1px solid #ccccc4;
    font-family: "Poppins-Regular";
}

.name,
.contact {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
}

.req-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 25px;
}

.client {
    background-color: #f9f9fa;
    padding-top: 30px;
    padding-bottom: 30px;
}

.client-title {
    text-align: center;
}

.review {
    background-image: url(../../assets/images/Card.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    display: grid;
}

.review-blog {
    padding: 10px;
    max-width: 300px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
.review-blog h4{
    font-size: 20px;
    font-family: 'Poppins-SemiBold';
}
.review-blog p{
    font-family: 'Poppins-Regular';
    font-size: 15px;
}
.client-title h3,
.service h3 {
    font-size: 40px;
    font-family: "Poppins-SemiBold";
}

/* .client-review {
    display: flex;
} */
.store button {
    border: none;
    background: transparent;
    margin-right: 10px;
}
.reviewer {
    display: grid;
    justify-content: center;
    text-align: -webkit-center;
    margin-top:10px;
}
.reviewer h5{
    font-size: 20px;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 0px;
}
.reviewer p{
    font-family: 'Poppins-Regular';
    font-size: 15px;
}
.count-head h5 {
    font-size: 18px;
    font-family: "Poppins-Regular";
}

.count {
    margin-top: 50px;
    margin-bottom: 50px;
}
.count-head h3{
    margin-bottom: 0px ;
}
.counts {
    display: flex;
    width: 100%;
}

.hexagon {
    background-image: url(../../assets/images/Polygon.svg);
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
}

.hexagonetext {
    position: relative;
    top: 98px;
    text-align: center;
}

.hexagonetext h3 {
    font-size: 30px;
    font-family: "Poppins-SemiBold";
}

.hexagonetext h4 {
    font-size: 18px;
    font-family: "Poppins-Regular";
}

.service {
    background-color: #ffefcf;
    padding-top: 30px;
    padding-bottom: 30px;
}
.experience-img1 img {
    position: relative;
    top: -30px;
}

.experience-img2 img {
    position: relative;
    top: 30px;
}
.store img {
    margin-right: 10px;
}
carousel.carousel {
    z-index: 0;
}
.service-detail-img {
    height: 180px;
    width: auto;
    margin-bottom: 20px;
}
.about-img-12 {
    display: flex;
}
.about-img-12 .about-img-1{
    height: 250px;
    width: auto;
    margin-right: 20px;
}
.about-img-12 .about-img-2{
    height: 210px;
    width: auto;
    margin-top: 40px;
}
.about-img-34 .about-img-3{
    height: 180px;
    width: auto;
    margin-right: 20px;
}
.about-img-34{
    margin-top: 20px;
}
.about-img-34 .about-img-4{
    height: 290px;
    width: auto;
    margin-right: 20px;
}
.about-img-34 {
    display: flex;
}