<section class="map-booking">
    <div class="bg-map">
        <agm-map [latitude]="Lat" [longitude]="Lng" [zoom]="17" [styles]="styles">
            <agm-marker [latitude]="Lat" [longitude]="Lng" [label]="My"></agm-marker>
            <agm-marker *ngFor="let m of Marker" [latitude]="m.latitude" [longitude]="m.longitude"></agm-marker>
            <!-- [label]="m.price" -->
        </agm-map>
    </div>
    <div class="container">
        <div class="filter">
            <div class="shop-filter ">
                <div class="shop-filt-inp">
                    <input type="text" name="mapshop" id="shop" placeholder="Search Device, Brand, Model, etc">
                    <button><img src="../../assets/images/Sliders.svg" alt=""></button>
                    <button><img src="../../assets/images/Bug.svg" alt=""></button>
                </div>
                <div class="shop-come">
                    <div class="shop-box" *ngFor="let store of storeInfo">
                        <div class="shop-ing">
                            <img class="img-fluid" src="../../assets/images/service1.png" alt="">
                        </div>
                        <div class="shop-detail">
                            <div class="detail-name">
                                <h2>{{store.shopName}}</h2>
                                <ngb-rating [rate]="3" color="red"></ngb-rating>
                            </div>
                            <div class="detail-name2">
                                <div class="dis-f">
                                    <img src="../../assets/images/Icon awesome-car.svg" alt="">
                                    <p>{{store.distance | number : '1.2-2'}}</p>
                                </div>
                                <div class="dis-f">
                                    <img src="../../assets/images/Icon material-attach-money.svg" alt="">
                                    <p *ngFor="let price of store.pricing">{{price.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-location">

                <input id="pac-input" (change)="handleAddressChange($event.target.value)" value="{{area}}" />


                <!-- <input ngx-google-places-autocomplete [options]='options' (onAddressChange)="AddressChange($event)" type="text" name="" id="" placeholder="Search Location">{{ formattedaddress }} -->
                <button (change)="handleAddressChange($event.target.value)"><img src="../../assets/images/search.svg"
                        alt=""></button>
            </div>
        </div>
    </div>
    <div class="top-shop">
        <div class="container">
            <div class="text-center">
                <h2>Top Shop</h2>
            </div>
            <carousel>
                <div class="shop-box carousel-cell" *ngFor="let store of storeInfo" (click)="shopDetail(store.id)">
                    <div class="shop-ing">
                        <img class="img-fluid" src="../../assets/images/service1.png" alt="">
                    </div>
                    <div class="shop-detail">
                        <div class="detail-name">
                            <h2>{{store.shopName}}</h2>
                            <ngb-rating [rate]="3" color="red"></ngb-rating>
                        </div>
                        <div class="detail-name2">
                            <div class="dis-f">
                                <img src="../../assets/images/Icon awesome-car.svg" alt="">
                                <p>{{store.distance | number : '1.2-2'}}</p>
                            </div>
                            <div class="dis-f">
                                <img src="../../assets/images/Icon material-attach-money.svg" alt="">
                                <p *ngFor="let price of store.pricing">{{price.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </carousel>

        </div>
    </div>
    <div>
        <div class="text-center">
            <h2>Get the app for better Experience</h2>
        </div>
        <div class="experience">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="experience-detail">
                            <h3>Get Service from your mobile</h3>
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                            <h4>Get the App</h4>
                            <div class="store">
                                <button><img src="../../assets/images/Google Play Badge.svg" alt=""></button>
                                <button><img src="../../assets/images/App Store Badge.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="experience-img1">
                            <img class="img-fluid" src="../../assets/images/Screen1.svg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="experience-img2">
                            <img class="img-fluid" src="../../assets/images/Screen2.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>